#!/system/bin/sh

bin_name="clash"

redir_port="7891"
tproxy_port="1536"
clash_dns_port="1053"
mihomo_dns_forward="true"
fake_ip_range_v4="198.18.0.0/16"
tun_device="Meta"

box_user_group="root:net_admin"

bin_name_list=("sing-box" "clash" "xray" "v2ray" "hysteria")
box_path="/data/adb/box_bll"
bin_path="${box_path}/bin/${bin_name}"
run_path="${box_path}/run"
pid_file="${run_path}/${bin_name}.pid"

intranet=(0.0.0.0/8 10.0.0.0/8 100.0.0.0/8 127.0.0.0/8 169.254.0.0/16 192.168.0.0/16 172.16.0.0/16 172.20.0.0/16 224.0.0.0/4 240.0.0.0/4 255.255.255.255/32)
intranet6=(::/128 ::1/128 ::ffff:0:0/96 100::/64 64:ff9b::/96 2001::/32 2002::/16 2001:db8::/32 fc00::/7 fe80::/10 ff00::/8)

ipv6="enable"
# disable “关闭” # enable  “开启”

proxy_method="TPROXY"
# REDIRECT: TCP only / TPROXY: TCP + UDP / MIXED: REDIRECT TCP + TUN UDP

proxy_mode="blacklist"
# blacklist / whitelist / core

user_packages_list=()
# 示：Android用户:包名
# 用户空间0 分身999，TUN也需排除包名
# 黑白名单 config.yaml DNS模块 仅允许 redir-host 模式
# 填写格式：("0:com.android.captiveportallogin" "10:com.tencent.mm")

gid_list=()
# 根据proxy_mode配置绕过或者代理，可以通过busybox setuidgid命令任意指定

ap_list=("wlan+" "ap+" "rndis+" "ncm+" "eth+" "p2p+")
ignore_out_list=()

# -------------------------
# 是否根据网络状态控制模块服务
# false “默认禁用” # true “启用”
enable_network_service_control=false # 总开关

# 断开WiFi网络后是否启用模块服务
use_module_on_wifi_disconnect=true

# WiFi网络下是否启用模块服务
use_module_on_wifi=true

# 是否启用WiFi SSID匹配 # 需要匹配的WiFi SSID
use_ssid_matching=false

# WiFi SSID匹配 黑/白名单模式
use_wifi_list_mode="blacklist" # blacklist 黑名单 #whitelist 白名单

# 黑名单列表（多个 SSID 用空格分隔）
blacklist_wifi_ssids="BadWiFi1 BadWiFi2"

# 白名单列表（多个 SSID 用空格分隔）
whitelist_wifi_ssids="GoodWiFi1 GoodWiFi2"
# -------------------------